*{
  box-sizing: border-box;
}

body{
  font-family: 'Times New Roman', Times, serif;
  background-color: aliceblue;
  margin: 3%;
}

h1,h2{
  color:black;
}

.btn{
  font: inherit;
  padding: 0.5% 1.5%;
  cursor: pointer;
  background-color: darkslategray;
  border-radius: 10px;
  color: aliceblue;
  border:1px solid grey;
  margin: 0 1px;
}

.btn:hover{
  background-color: bisque;
  border-color: black;
}

.card{
  
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 40px ;
  padding: 1%;
  width: 18rem;

}

.actions{
  text-align: center;
}

.cards{
  
  
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}
